<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.QuestionnaireMapper">

<!--
id:唯一标识
resultType:返回类型
-->
	<select id="selectQuestionnaireById" resultType="com.questionnaire.bean.Questionnaire">
		select * from questionnaire_table where id = #{id}
	</select>
	
	<insert id="insertQuestionnaire" parameterType="com.questionnaire.bean.Questionnaire" useGeneratedKeys="true" keyProperty="id" >
        insert into questionnaire_table(id,sponsorId,score,questionnaireTitle,questionnaireDescription,questionnaireType,submitTime,status) values(#{id},#{sponsorId},#{score},#{questionnaireTitle},#{questionnaireDescription},#{questionnaireType},#{submitTime},#{status})
    </insert>
	
	<!--删除-->
    <delete id="deleteQuestionnaireById" parameterType="int" >
        delete from questionnaire_table where id = #{id}
    </delete>
    <!--改-->
    <update id="modifyQuestionnaireByIdStatus" parameterType="com.questionnaire.bean.Questionnaire">
        update questionnaire_table set status = #{status} WHERE id = #{id}
    </update>

	<select id="selectAllQuestionnaire" resultType="com.questionnaire.bean.Questionnaire">
	select * from questionnaire_table
	</select>
	
	<select id="selectAllReleaseQuestionnaire" resultType="com.questionnaire.bean.Questionnaire">
	select * from questionnaire_table where status='已发布'
	</select>
	
</mapper>